.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--spacing-4);
  width: 100%;
}

.body {
  align-self: stretch;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: left;
  color: var(--text-same-white-primary);
  font-size: var(--eds-body-small-size);
  font-weight: var(--eds-body-small-weight);
  line-height: var(--eds-body-small-line-height);
}

.action {
  align-self: flex-end;
}
