.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-4);
  width: 100%;
}

.body {
  margin: 0;
  padding: var(--spacing-3) var(--spacing-4) var(--spacing-1);
  color: var(--text-same-white-primary);
  font-size: var(--eds-body-small-size);
  font-weight: var(--eds-body-small-weight);
  line-height: var(--eds-body-small-line-height);
}

.action {
  align-self: flex-end;
}
