.host {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-1);
  min-width: 0;
}

.textGroup {
  composes: typography-body-small from global;
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-1-5);
  min-width: 0;
}

.name {
  color: var(--text-base-primary);
}

.divider {
  flex-shrink: 0;
  align-self: center;
  height: var(--scale-2-5);
  min-height: var(--scale-2-5);
  max-height: var(--scale-2-5);
}

.secondary {
  color: var(--text-base-secondary);
}
